<!-- page-title -->
<div class="home2-third-bg">
    <div class="page-title bg-gradient" style="background-image: url('../../../images/bgimage/software-dev-hero-img-edited.jpg');" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Services</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="layout.home">Services</a></li>
                        <li class="breadcrumb-item">Software Development</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-title -->
    <!-- Blog-main -->
    <div class="main-blog-section default-padding" >
        <div class="container section-title">
            <h3 class="title text-center">Software Development</h3>

            <p>We offer custom software development to help you pull off your next project with less stress and less cost. Our team has the technology prowess to power you at every stage of your product development lifecycle, from discovery to ongoing post-launch enhancement.</p>

            <p>We specialize in ASP.NET  & JAVA with database support(Oracle,MYSQL).</p>


            <!--<p>Our Project Domains:</p>

            <p>
                <ul>
                    <li>
                        School Management System
                    </li>
                    <li>
                        Real Estate Projects
                    </li>
                    <li>
                        Task Management System.
                    </li>
                </ul>
            </p>-->

            <p><strong>Our software development services are result driven.</strong></p>

            <!--<nav class="page-navigation">
                <ul class="pagination">
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </nav>-->
            <div class="row">
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/janaLogo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/Microsoft-dotNET-logo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/MicrosoftSQLServer.png" style="height:100px;width:200px" />
                </div>
            </div>



        </div>
    </div>
    <!-- /.Blog-main -->
</div>
