<!-- page-title -->
<div class="home2-third-bg">
	<div class="page-title bg-gradient" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../../images/serviesImg/software-training.jpg'); ">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="layout.home">Services</a></li>
						<li class="breadcrumb-item">Professional Training</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- /.page-title -->
	
	<!-- blog -->
	<div id="blog" class="blog-section default-padding-top">
		<div class="container">
			<div class="row row-eq-rs-height">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
						<h3 class="title">Professional Training</h3>
						<p>Pramaan Software Solutions has established training division in Visakhapatnam in 2017. We offer high quality training both for fresher and young graduates who are in their final semester.We also provide ON JOB TRAINING for employees to enrich knowledge and careers of young graduate engineers.</p>
						<p>Technologies used in the IT industry have drastically changed from last few years. We always focus on the Latest Technologies which assures a bright career for a fresh graduate. We offer a Full Time 14 week course in which student will be trained in the latest technologies of his preference like MEAN stack Development, Internet of Things, Data Science, Cyber Security and Block Chain Technologies.
						We pursue the highest quality in all our training intervention by ensuring that our materials are relevant and unit standard aligned; our facilitators are experts in their field and experienced ETD professionals and that our approach to leaning is both visionary and innovative.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="blog-details wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
						
							<img src="../../../images/serviesImg/cursos-de-informatica-para-mayores-madrid-logo-java-jpg.jpg" />	
						<div class="blog-info">
							<h4>Java Training</h4>
							
							<p>Java program introduces you to the current methods of analysing, designing, developing & deploying web applications with Java technologies. The course offers  certification from Java, giving you a competitive edge in  IT job market.</p>
							
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="blog-details wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.0s">
					
						
							<img src="../../../images/serviesImg/net-for-startup.png" />
						
							<div class="blog-info">
								<h4>.Net Training</h4>

								<p>
									NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows.
									A Microsoft operating system platform that incorporates applications, a suite of tools and services and a change in the infrastructure of the company's Web strategy.
								</p>

							</div>
						</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.blog -->

</div>
