<!-- page-title -->
<div class="home2-third-bg">
    <div class="page-title bg-gradient">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Services</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="layout.home">Services</a></li>
                        <li class="breadcrumb-item">Software Development</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </div>
    <!-- /.page-title -->
    <!-- Blog-main -->
    <div class="main-blog-section default-padding">
        <div class="container section-title">
            <h3 class="title text-center">Web Development</h3>

            <p>We build superior responsive websites using advanced Technologies like AngularJS,CSS & HTML with database support(Oracle,MYSQL). </p>

           

            <p>
                We build:

                <img src="../../../images/serviesImg/webdev.png" />
            </p>

           
            <div class="row">
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/html.png" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/Import-vs-link-in-CSS.png" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/angularjs.png" style="height:100px;width:200px" />
                </div>
               
            </div>



        </div>
    </div>
    <!-- /.Blog-main -->
</div>
