<!-- page-title -->
<div class="home2-third-bg">
    <div class="page-title bg-gradient">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Services</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="layout.home">Services</a></li>
                        <li class="breadcrumb-item">Software Development</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </div>
    <!-- /.page-title -->
    <!-- Blog-main -->
    <div class="main-blog-section default-padding">
        <div class="container section-title">
            <h3 class="title text-center">About Us </h3>

            <p>
                <strong>Praman It Solutions</strong> strives to provide offshore custom software solutions that will help you remain in step with your competition by continuously improving your information technology based business solutions. We use the latest software development tools, engineering and management practices.<strong>Praman It Solutions</strong> time proven experience and reputable expertise in providing custom software solutions has enabled us to meet our customer’s requirement and even surpassing their expectations.<br /><br />
                We have top of the class industry certified software development professionals which includes project managers, software engineers, testers and designers who would adapt to your every need. In our offshore software development model, transparent project management practices that emphasize customer communication at pre determined intervals through e-mail, teleconferencing and video conferencing ensure that the customer and the project delivery team have a consistent understanding of requirements and project status at all time while developing the custom applications.<br /><br />
                <strong> Praman It Solutions</strong> partners with emerging software leaders and provides them with custom software solutions spanning over the complete life cycle of product and application development. Our expertise lies in clearly perceiving the business goals of our customers, choosing the most appropriate technology and efficiently designing and development solutions that cater to the need identified by the business. Using our mature development methodology in building custom software solutions we help our customers to achieve their business needs. The combination of our technology experience, our project management expertise and our excellent track record in building custom software solutions has made <strong>Praman It Solutions</strong> a powerful choice for our clients.
            </p>
            <h4 class="block">Team</h4>
            <p>
                Our domain expertise lies in the industries like Construction, Communication & Transport, Aviation, Manufacturing, Retail, Energy, etc.
            </p>
            <h4 class="block">Vision</h4>
            <p>
                To  create economical and user friendly software using the latest open source technologies.
            </p>
            <h4 class="block">Mission</h4>
            <p>
                We prefer and suggest only open source technologies and build tailor made business solutions to the client which are cost effective.
            </p>

            <!--<p>Our Project Domains:</p>

            <p>
                <ul>
                    <li>
                        School Management System
                    </li>
                    <li>
                        Real Estate Projects
                    </li>
                    <li>
                        Task Management System.
                    </li>
                </ul>
            </p>-->

            <!--<p><strong>Our software development services are result driven.</strong></p>-->

            <!--<nav class="page-navigation">
                <ul class="pagination">
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </nav>-->
            <!--<div class="row">
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/janaLogo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/Microsoft-dotNET-logo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/MicrosoftSQLServer.png" style="height:100px;width:200px" />
                </div>
            </div>-->



        </div>
    </div>
    <!-- /.Blog-main -->
</div>
