<!-- page-title -->
<div class="home2-third-bg">
    <div class="page-title bg-gradient">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Services</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="layout.home">Services</a></li>
                        <li class="breadcrumb-item">Software Development</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </div>
    <!-- /.page-title -->
    <!-- Blog-main -->
    <div class="main-blog-section default-padding">
        <div class="container section-title">
            <h3 class="title text-center"> Our Clients</h3>

            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/cisco.png" alt="cisco" />
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/walmart.png" alt="walmart" />
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/gamescast.png" alt="gamescast" />

                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/spinwokrx.png" alt="spinwokrx" />

                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/ngreen.png" alt="ngreen" />

                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="../../../images/clients/vimeo.png" alt="vimeo" />
                </div>
            </div>

            <!--<p>Our Project Domains:</p>

            <p>
                <ul>
                    <li>
                        School Management System
                    </li>
                    <li>
                        Real Estate Projects
                    </li>
                    <li>
                        Task Management System.
                    </li>
                </ul>
            </p>-->

            <!--<p><strong>Our software development services are result driven.</strong></p>-->

            <!--<nav class="page-navigation">
                <ul class="pagination">
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </nav>-->
            <!--<div class="row">
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/janaLogo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/Microsoft-dotNET-logo.jpg" style="height:100px;width:200px" />
                </div>
                <div class="col-lg-3">
                    <img src="../../../images/serviesImg/MicrosoftSQLServer.png" style="height:100px;width:200px" />
                </div>
            </div>-->



        </div>
    </div>
    <!-- /.Blog-main -->
</div>
