  <!-- contact -->
<div id="contact" class="contact-section default-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
					<h2 class="title">Stay Connected</h2>
					<p>Its not even been a year and we have evolved through the experience of market trends and complex projects and we are trying to reach hundreds of people from India and abroad… </p>
					<!--<img style="padding-bottom:15px" src="../../../images/sayhello.png">-->

				</div>
			</div>
			<div class="col-md-4 col-sm-5">
				<div class="primary-contact wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay=".5s">
					<h4 class="title mg-bottom-0">Head Office:</h4>
					<p class="address">Regus Business Center,3rd Floor,Naga Chambers,Ram Nagar,Visakhapatnam,India</p>
					<p class="phone"><i class="fa fa-phone"></i>0891-6604899</p>
					<p class="website"><i class="fa fa-envelope-o"></i>info@prstech.com</p>
					<a href="#popupmodal" class="btn btn-white-shadow launch-map" data-toggle="modal">Find Us<i class="fa fa-map-marker"></i></a>
				</div>
			</div>
			<!-- google map modal -->
			<div class="modal fade map-popup-modal" id="popupmodal">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="map-canvas"></div>
								<button type="button" data-dismiss="modal" class="btn-close" data-value="0"><i class="fa fa-times" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-sm-7 col-md-offset-1">
				<div class="contact-form wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s">
					<div class="row">
						<div class="col-md-6">
							<input class="input name-email" placeholder="Name" type="text" name="name">
						</div>
						<div class="col-md-6">
							<input class="input name-email" placeholder="Email" type="text" name="email">
						</div>
					</div>
					<textarea class="message input" placeholder="Message" rows="6"></textarea>
					<a class="btn btn-white-shadow" href="#">Send Message</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.contact -->
