 <!-- intro -->
<!--<div id="intro" class="intro-section text-center">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2"> <img  src="../../../images/insights.png"></div>
			<div class="col-md-4 col-sm-6">

				<div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
					<img  src="../../../images/prslogo1.png" alt="icon">

					<p>
						PRs Tech has evolved into full scale software development company with professional training to its employees and strong focus on emerging technologies like Java ,.Net, Angular Js etc.
						At Prs Tech people work passionately  to emerge with cutting edge IT Solutions with Innovations.
					</p>
					<a href="#">About Us</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s">
					<img  src="images/projects.png" alt="icon">
					
					<p><img src="../../../images/ideas.png"></p>
					Our Work includes:
					  <ul style="list-style:none">
							
							<li >Red Alert</li>
							<li>Diagonal Infra</li>
							<li>School Management System</li>
						</ul>
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<a href="#">Our Projects</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="intro-item mg-bt-0 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s">
					<img  src="../../../images/whomweserve.png" alt="icon">
					<h3 class="title"></h3> <p></p>
					<p></p>
					<p></p>
					<p></p>

					<p>
						Today’s customers have connections, choices and power.
						We get to know our customers’ needs before they do and become part of their lives.
						With an intutive set of options given to our customers,we customise and adapt
						to specific business need and make our client happy.
					</p>
					<a href="#">Our Clients</a>
				</div>
			</div>
		</div>
	</div>
</div>-->
<div id="intro" class="intro-section text-center">
	<div class="container">
		<div class="row row-eq-rs-height">
			<div class="col-md-8 col-md-offset-2">
				<div class="section-title text-center wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
					<h2 class="title">Insights</h2>
					<p>We believe real innovation stems from implementing relevant high tech solutions to
actual business problems.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
					<img src="../../../images/icon-img/about.png" alt="icon">
					<h3 class="title">About Us</h3>
					<p>We have evolved into full scale software development company with strong focus on emerging technologies like Java ,.Net etc.
					</p>
					<a ui-sref="layout.aboutus">Read More</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s">
					<img src="../../../images/icon-img/3.png" alt="icon">
					<h3 class="title">Our Projects</h3>
					<p>We are into all the domains and have done some prestigious projects in Real estate,Education,and Software</p>
					<a ui-sref="layout.projects">read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="intro-item mg-bt-0 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s">
					<img src="../../../images/icon-img/page5-img1.jpg.png" alt="icon">
					<h3 class="title">Our Clients</h3>
					<p>
						We provide clients with a wealth of  expertise to
						efficiently and professionally establish their business online.</p>
					<a ui-sref="layout.clients">read more</a>
				</div>
			</div>
		</div>
	</div>
</div>