<div class="home2-first-bg">
    <!-- banner -->
    <div id="promo" class="banner banner-2" style="background-image:url('../../images/main.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-7 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h3 class="heading">Prosoft Solutions</h3><h3>Where Passion meets work</h3> 
                    <p class="sub-heading">We aim to deliver end to end Software Development services</p>
                    <!--<a class="btn btn-white-shadow" href="#">Get Started for Free</a>-->
                </div>
                <div class="col-md-5 hidden-sm hidden-xs banner-thumb-img">
                    <div class="banner-thumb wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="../../images/color-pink/system.png" alt="thumnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.banner -->
    <!-- intro -->
    <div class="intro-section text-center">
        <div class="container">
            <div class="row row-eq-rs-height">
                <div class="col-md-4 col-sm-6">
                    <div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="images/color-pink/icon/1.png" alt="icon">
                        <h3 class="title">Uniqe Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur dipi elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s">
                        <img src="images/color-pink/icon/2.png" alt="icon">
                        <h3 class="title">Easy to Customaize</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur dipi elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="intro-item mg-bt-0 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s">
                        <img src="images/color-pink/icon/3.png" alt="icon">
                        <h3 class="title">Great Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur dipi elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.intro -->
    <!-- about -->
    <div id="about" class="about-section default-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">About Our App</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <img src="../../images/color-pink/system.png" alt="about">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about-details">
                        <div class="section-title-3">
                            <h3 class="title">Take a Look Around our App</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p class="mg-bottom-45">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                        <a class="btn btn-white-shadow" href="#"><img src="images/color-pink/icon/6.png" alt="icon">Download Now</a>
                        <a class="btn btn-white-shadow" href="#"><img src="images/color-pink/icon/7.png" alt="icon">Download Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.about-->
   
</div>