<div class="home2-first-bg">
	
    <!-- banner -->
    <div id="promo" class="banner banner-2">
        <div class="container">
            <div class="row">
                <div class="col-md-7 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h1 class="heading">Praman IT Software Solutions</h1>
					<h3 class="sub-heading">Where Passion meets work</h3> 
                    <p class="sub-heading">Constantly growing as a major IT service
provider to become a leading performer, in providing quality Web and Software
Development solutions in the competitive global marketplace.</p>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs banner-thumb-img">
                    <div class="banner-thumb wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="../../images/color-pink/system.png" alt="thumnail">
					
						</div>
                    </div>
                </div>
            </div>
	
        </div>

    <!-- /.banner -->
	<!-- intro -->
	<div data-ng-include="'app/views/landing/intro.html'"></div>

	<!-- /.intro -->
    
    
	<div data-ng-include="'app/views/landing/services.html'"></div> 
	
	
</div>
<div class="home2-second-bg">
	<div data-ng-include="'app/views/landing/team.html'"></div>
	
</div>

 <!-- Background third Block -->
<div class="home2-third-bg">


	<div data-ng-include="'app/views/landing/testimonials.html'"></div> 

	<div data-ng-include="'app/views/landing/contact.html'"></div>

</div>