 <!-- features-3 -->
<div class="featured-section-3 default-padding" id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2 class="title">Services</h2>
                    <p>Our extended team of professionals offer best in class services across different verticals of Sofwtare Industry</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 featured-left-3" style="margin-top:10px">
                <div class="media text-right wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="media-body">
                        <a ui-sref="layout.softdev"><h3 class="title">Software Development</h3></a>
                        <p>Our Versatility with usage of various development platforms like Java,.Net etc  give us edge  over our competitors.</p>
                    </div>
                    <div class="media-left">
                        <div class="thumb">

							<img src="../../../images/serviesImg/soft-development-icon-blue.png" />
							
                        </div>
                    </div>
                </div>
                <div class="media text-right wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s">
                    <div class="media-body">
                        <a ui-sref="layout.webdev"><h3 class="title">Web Development</h3></a>
                            <p>Providing superior static & dynamic websites ,spectacular designs, responsive templates,using bootstrap & Angular  </p>
</div>
                    <div class="media-left">
                        <div class="thumb">
							
							<img src="../../../images/serviesImg/responsive.web_.design.large_.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thumb-wrap wow animated fadeInUp" style="margin-top:10rem" data-wow-duration="1.5s" data-wow-delay=".5s">
                <img class="main-thumb"  src="../../images/color-pink/MobileAppDev.png" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 featured-right-3" style="margin-top:10px">
                <div class="media wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="media-left">
                        <div class="thumb">
							<img src="../../../images/serviesImg/Social-Media-Marketing.png" />
						
                        </div>
                    </div>
                    <div class="media-body">
						<h3 class="title">Digital Marketing</h3>
						<p>We have an entire division dedicated to offering the latest services in digital design, search engine optimization, and online conversion.</p>
                        <!--<h3 class="title">
							E-Commerce</h3>
                        <p>Selling goods & services is a dauntling prospect & we at Prism make our So compelling to make the user click.</p>-->
                    </div>
                </div>
           
                <div class="media wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="media-left">
                        <div class="thumb">
							<img src="../../../images/serviesImg/Training_icon.png" />
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="title">Professional Training</h3>
                        <p>Providing technology support to Enthusiatics with skilled and experienced Trainers from top notch companies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.features-3-->