

	<!-- team -->
	<div id="team" class="team-section default-padding-top">
		<div class="container">
			<div class="row row-eq-rs-height">
				<div class="col-md-10 col-md-offset-1">
					
					<div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
						<h2 class="title">Our Team</h2>
						<p>
							What makes Prs Tech a success are the people that drive it.
							Each and every one of our employees represent the spirit of our
							company: driven, committed, and acutely aware of how limitless
							PRs’s potential is to grow.
						</p>
						<!--<img style="padding-bottom:15px" alt="images" src="../../../images/people.png">-->
					</div>
					
				</div>
				<div class="col-md-4 col-sm-6 text-center">
					<div class="team-details wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
						<div class="team-author-details">
							<img style="height:100px;width:100px" alt="images" src="../../../images/swathi.JPG">
							<h4>Swathi</h4>
							<span>Team Lead</span>
							<p>
								4 years of experience in MNC
								,Tech Mahindra.Swathi  leads the
								company’s web development team,
								whose work encapsulates all brand
								creative,brand design and product
								design  & Development efforts for the
								company.

							</p>

						</div>
						<ul class="team-social-area">
							<li><a class="facebook-btn" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter-btn" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="linkedin-btn" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="pinterest-btn" href="#"><i class="fa fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center">
					<div class="team-details wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.0s">
						<div class="team-author-details">
							<img style="height:100px;width:100px" alt="images" src="../../../images/prasad.jpg">
							<h4>Y.Durga Prasad</h4>
							<span>Y.D.Prasad(Founder ,CEO)</span>
							<p>A commando, armed with the latest tech & a huge warehouse of knowledge, he leads by example & is here for the long haul. His strong belief in giving back more has borne rich fruits, both for his employees & clients.</p>
							<a href="#">read more</a>
						</div>
						<ul class="team-social-area">
							<li><a class="facebook-btn" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter-btn" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="linkedin-btn" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="pinterest-btn" href="#"><i class="fa fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center">
					<div class="team-details mg-bt-0 wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">
						<div class="team-author-details">
							<img style="height:100px;width:100px" alt="images" src="../../../images/irshad.PNG">
							<h4>Mohammed Irshad</h4>
							<span>Java Developer</span>
							<p>
								Attentive,loyal,honest irshad is a hard worker with zeal and to learn and enthusiatic and dedicated to his work.
								He joined a year back but his aptitude and his approach in problem solving is so impressive.
							</p>

						</div>
						<ul class="team-social-area">
							<li><a class="facebook-btn" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter-btn" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="linkedin-btn" href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="pinterest-btn" href="#"><i class="fa fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.team -->
	<!-- blog -->
	
