<!-- footer -->
<footer>
    <div class="footer-section bg_black text-center pd-top-50">
      
            <div class="row pd-top-30">
				<div class="section-title col-lg-4 col-md-4 col-sm-12">
					<p class="title" style="color:white;font-size:medium">About Us</p>
					<p><a href="#">Terms & Conditions</a><br />
					<a href="#">Privacy Policy</a></p>
    </div>
				<div class="section-title  col-lg-4 col-md-4 col-sm-12">
					<p class="title" style="color:white;font-size:medium">Get In Touch</p>
					<p><span class="fa fa-envelope"></span> info@pramantech.com<br />
					<span class="fa fa-phone"></span> (+91)-0891-6604899</p> 
				</div>
				<div class="section-title col-lg-4 col-md-4 col-sm-12">
					<p class="title" style="color:white;font-size:medium">Follow Us</p>
					<ul class="social-area">
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1s"><a class="facebook-btn" href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s"><a class="twitter-btn" href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="2.0s"><a class="pinterest-btn" href="#"><i class="fa fa-pinterest-p"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="2.5s"><a class="linkedin-btn" href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!--<div class="col-md-8 col-md-offset-2 mg-bottom-5">
					<div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
						<h2 class="title">Get in Touch</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
					</div>
					
					<ul class="social-area">
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1s"><a class="facebook-btn" href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s"><a class="twitter-btn" href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="2.0s"><a class="pinterest-btn" href="#"><i class="fa fa-pinterest-p"></i></a></li>
						<li class="wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="2.5s"><a class="linkedin-btn" href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>-->
             
            </div>
   
    </div>
    <div class="copyright">
        <div class="text-center">
            <p>&copy; Pramaan Software Solutions Pvt Ltd | All rights reserved 2018</p>
        </div>
    </div>
</footer>